<div class="container">
  <h1>shit.ly</h1>
  <table> 
    <p> 
      <form action='/urls' method="POST">
          <input input id="url" type="url" name="urls[url]" placeholder="shit.ly.fy your url">
          <input type="submit">
      </form> 
    </p>
  </table>
</div>
