<div class="container">
  <h1>shit.ly.fy!</h1>
  <table> 
    <p> 
      <form action='/urls' method="POST">
        <label for="url">url:</label>
          <textarea input id="url" rows="1" cols="50" name="params[:url]" placeholder="shit.ly.fy your url"></textarea>
        <input type="submit">
      </form> 
    </p>
  </table>
</div>
